body {
	padding-bottom: 70px;
}

/* settings for the chat */
#chat {
	position: fixed;
	right: 0px;
	bottom: 0%;
	width: 250px;
	z-index: 10;
}

#chat .panel-body
{
    overflow-y: auto;
    max-height: 250px;
    height: 250px;
}
#chatpanel {
	margin-bottom: 0;
}

#chat .collapsing {
	max-height: 300px;
}


.mathquill-rendered-math * {
    box-sizing: content-box;
    top: auto;
}

.mathquill-editable {
	display: block;
}

.mathquill-textbox textarea{
	position: absolute;
	clip: rect(1em 1em 1em 1em);
}

#message {
	height: auto;
	overflow: inherit;
}
